.container {
  background-color: #d0cdcd;
  min-height: 68vh;
  display: flex;
}

.bookImage {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;

  img {
    width: 50%;
  }
}


.bookDescription {
  width: 60%;
  background-color: white;

  textarea {
    padding: 20px;
    resize: none;
    width: 800px;
    min-height: 400px;
  }
}
