.card {
  min-height: 400px;
  max-width: 22%;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.35);
  font-weight: normal;
  backdrop-filter: blur(5px);
  padding: 40px 20px;

  @media screen and (max-width: 1300px) {
    max-width: 29%;
  }
  @media screen and (max-width: 950px) {
    max-width: 46%;
  }
  @media screen and (max-width: 650px) {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }


  img {

    min-height: 200px;

  }
}

.description {
  text-align: start;
  padding: 20px;
  color: #444444;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .categories {
    font-size: 15px;
    text-decoration: underline;
    margin-top: 20px;
  }

  .title {
    color: black;
    font-weight: bold;
    margin-top: 20px;
  }

  .author {
    margin-top: 20px;
    font-weight: lighter;
  }
}