body {
    margin: 0;
    color: white !important;
}

body #root {
    font-family: 'Roboto', sans-serif
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
